.nav{
    position: relative;

    width: 100%;
    max-width: 210px;

    &-list{
        position: sticky;
        top: 0;
        left: 0;

        padding: 20px 0 0 0;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item{
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 10px 0 10px 10px;

        cursor: pointer;

        transition: all .3s ease-out;    
    }

    &-item:hover > svg > path{
        fill: var(--icon-hover);

        transition: all .3s ease-out;
    }

    &-item:hover{
        border-radius: var(--main-border-radius);
        background-color: var(--btn-bg-color-hover);

        transition: all .3s ease-out;
    }

    &-item:hover > &-item__descr{
        color: var(--btn-text-color-hover);

        transition: all .3s ease-out;
    }

    &-item__descr{
        font-size: 14px;
        font-weight: 400;
    }

    &-item__active{
        display: flex;
        align-items: center;
        gap: 12px;

        border-radius: var(--main-border-radius);
        background-color: var(--btn-bg-color-hover);

        padding: 10px 0 10px 10px;
    }

    &-item__active > svg > path{
        fill: var(--icon-hover);
    }


    &-item__active > &-item__descr{
        color: var(--btn-text-color-hover);
    }
}




@media (max-width: 600px) {
    .nav{
        position: sticky;
        top: 0;
        left: 0;

        justify-content: center;
        flex-direction: row;
        align-items: end;
        flex: 0 0 auto;

        border-top: 1px solid var(--main-border-color);
        background-color: var(--main-bg-color);

        padding: 10px;
        margin: 0 auto;
        max-width: 100%;

        cursor: pointer;

        &-item{
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 10px;
        }

        &-item__descr{
            display: none;
        }
    }
}