:root[data-theme="light"] {
  --main-color: rgb(120, 85, 246);
  --main-color-second: #EEEAFF;
  --main-bg-color: #FFFFFF;
  --bg-header: rgba(255, 255, 255, 0.8);
  --main-bg-color-block: #FFFFFF;
  --main-border-color: #DCDBE1;
  --icon: #171717;
  --icon-hover: #FFFFFF;
  --text-color: #171717;
  --text-color-hover: #FFFFFF;
  --btn-text-color: #7855F6;
  --btn-text-color-hover: #FFFFFF;
  --btn-bg-color-hover: #7855F6;
  --block-bg-color-hover: #7855F6;
}