:root[data-theme="light"] {
  /* Primary */
  --color-primary: #7855F6;
  --color-primary-hover: #6A46EA;
  --color-primary-light: #E8E1FF;

  /* Text */
  --color-text-primary: #1E1E1E;
  --color-text-secondary: #5C5C6C;

  /* Backgrounds */
  --color-bg-main: #F9F9FC;
  --color-bg-surface: #FFFFFF;

  /* Border */
  --color-border: #E3E3EE;
}