:root[data-theme="dark"] {
  --main-color: rgb(120, 85, 246);
  --main-color-second: #17112B;
  --main-bg-color: #08060F;
  --bg-header: rgba(8, 6, 15, 0.8);
  --main-bg-color-block: #08060F;
  --main-border-color: #252330;
  --icon: #FFFFFF;
  --icon-hover: #7855F6;
  --text-color: #FFFFFF;
  --text-color-hover: #FFFFFF;
  --btn-text-color: #7855F6;
  --btn-text-color-hover: #FFFFFF;
  --btn-bg-color-hover: #7855F6;
  --block-bg-color-hover: #7855F6;
}