:root[data-theme="dark"] {
  --main-color: rgb(120, 85, 246);
  --main-color-second: #20173F;
  --main-bg-color: #0D0B15;
  --bg-header: rgba(13, 11, 21, 0.8);
  --main-bg-color-block: #0D0B15;
  --main-border-color: #252330;
  --icon: #FFFFFF;
  --icon-hover: #7855F6;
  --text-color: #FFFFFF;
  --text-color-hover: #FFFFFF;
  --btn-text-color: #7855F6;
  --btn-text-color-hover: #FFFFFF;
  --btn-bg-color-hover: #7855F6;
  --block-bg-color-hover: #7855F6;
}