:root[data-theme="dark"] {
  /* Primary */
  --color-primary: #8B6DFF;
  --color-primary-hover: #A48BFF;
  --color-primary-light: #3E2C8A;

  /* Text */
  --color-text-primary: #F4F4FA;
  --color-text-secondary: #A1A1B5;

  /* Backgrounds */
  --color-bg-main: #0F0F14;
  --color-bg-surface: #1A1A24;

  /* Border */
  --color-border: #2C2C3A;

  /* Hover */
  --hover-nav: #b2b2b2
}