.posts{
    width: 100%;
    max-width: 495px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-btns{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}