version: '3.9'

services:
  backend:
    build: ./backend
    container_name: nestjs
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
      - redis
    networks:
      - lapse_networks
    command: npm run start:dev

  frontend:
    build: ./frontend
    container_name: nextjs
    restart: always
    ports:
      - '5000:5000'
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    environment:
      - PORT=5000
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    deploy:
      resources:
        limits:
          memory: 6g
    networks:
      - lapse_networks

  db:
    image: postgres:latest
    container_name: postgres
    restart: always
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lapse
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/data
    networks:
      - lapse_networks

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - '6379:6379'
    volumes:
      - ./redis_data:/data
    networks:
      - lapse_networks

volumes:
  db_data:
  redis_data:

networks:
  lapse_networks: