JWT_SECRET=f8af2e8db6406f8f52dbb6c0495ab30b89ff922643bc96c69d294e6a3c7a9ba4ec64a166cbb15ce2245f0b1ac37d3f76a6a36040bd23fff4aae053bc8dba8555
JWT_ACCESS_TOKEN=15m

POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=lapse

REDIS_USER=root
REDIS_PASSWORD=password
REDIS_USER_PASSWORD=user_password