.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid var(--main-border-color);

    width: 100%;
    max-width: 440px;

    padding: 30px 40px;

    &-title{
        font-size: 18px;
        font-weight: bold;

        color: var(--main-color);
    }

    &-descr{
        text-align: center;
        margin-top: 20px;
    }

    &-input__items{
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 100%;

        margin: 34px 20px 20px 20px;
    }

    &-notice{
        display: flex;
        gap: 10px;
        
        font-size: 14px;
        font-weight: 600;

        margin: 20px 0 0 0;

        &__span{
            color: var(--main-color);
            text-decoration: underline;

            cursor: pointer;
        }
    }
}