.form__radio {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--main-color);
  cursor: pointer;
  
  input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid  var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    padding: 0;


    &:checked::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--main-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
}