.btn{
    padding: 11px 20px;

    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);

    height: 40px;

    color: var(--btn-text-color);
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: all .3s ease-out;

    &:hover{
        border: none;

        color: var(--btn-text-color-hover);
        font-size: 14px;
        font-weight: 600;

        background-color: var(--btn-bg-color-hover);
        color: var(--btn-text-color-hover);

        transition: all .3s ease-out;
    }
}

.btn__active{
    padding: 11px 20px;

    border-radius: var(--main-border-radius);

    background-color: var(--btn-bg-color-hover);

    color: var(--btn-text-color-hover);
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
}


