.user-widget {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px;

  &__user-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 4px;
  }

  &__username {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-primary);
  }

  &__email {
    font-weight: 500;
    font-size: 10px;
    color: var(--text-primary);
  }
}