.profile {
  padding: 20px;
  background: var(--color-bg-surface);
  border-radius: var(--radius-md);
  margin-bottom: 20px;

  &-info {
    display: flex;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__name {
        color: var(--color-text-primary);
        font-size: 16px;
      }

      &__data {
        color: var(--color-text-primary);
        font-size: 14px;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
}

.profile__btn {
  padding: 9px 16px !important;
}