.nav{
    position: relative;
    width: 100%;
    max-width: 210px;

    &-list{
        position: sticky;
        top: 0;
        left: 0;
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
        cursor: pointer;
        transition: all .3s ease-out;    
    }

    &-item:hover > svg > path{
        fill: var(--main-color);
        transition: all .3s ease-out;
    }

    &-item:hover{
        transition: all .3s ease-out;
    }

    &-item:hover > &-item__descr{
        color: var(--main-color);
        transition: all .3s ease-out;
    }

    &-item__descr{
        font-size: 14px;
        font-weight: 400;
    }

    &-item__active{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
    }

    &-item__active > svg > path{
        fill: var(--main-color);
    }

    &-item__active > &-item__descr{
        color: var(--main-color);
    }
}


@media (max-width: 600px) {
    .nav{
        position: fixed;
        bottom: 0;
        left: 0;
        flex: 0 0 auto;
        border-top: 1px solid var(--main-border-color);
        background-color: var(--main-bg-color);
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
        cursor: pointer;

        &-list{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding: 10px 0;
        }

        &-item{
            display: flex;
            align-items: center;
            padding: 10px;
        }

        &-item__descr{
            display: none;
        }
    }
}