.button-base {
  border-radius: var(--border-radius-medium);
  transition: all .2s ease-in-out;
  font-family: 'Manrope', serif;
  align-self: center;
  font-size: 12px;

  &__sm {
    padding: 7px 14px;
    font-size: 12px;
  }

  &__md {
    padding: 9px 16px;
  }

  &__lg {
    padding: 11px 0;
    width: 100%;
  }

  &__primary {
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);

    &:hover {
      cursor: pointer;
      color: #FFFFFF;
      background-color: var(--accent-primary);
      transition: all .2s ease-in-out;
    }
  }

  &__secondary {
    color: #FFFFFF;
    background-color: var(--accent-primary);
    border: 1px solid var(--accent-primary);

    &:hover {
      cursor: pointer;
      color: var(--accent-primary);
      background: none;
      transition: all .2s ease-in-out;
    }
  }

  &__danger {
    color: var(--error-color);
    border: 1px solid var(--error-color);

    &:hover {
      cursor: pointer;
      color: #FFFFFF;
      background-color: var(--error-color);
      transition: all .2s ease-in-out;
    }
  }
}