:root {
  --main-color: #7855F6;
  --main-background-color: #FBFAFF;
  --main-border-color: #E0E0E0;
  --main-border-radius: 5px;

  --icon: #171717;
  --icon-hover: #FFFFFF;

  --text-color: #171717;

  --btn-text-color: #7855F6;
  --btn-text-color-hover: #FFFFFF;
  --btn-background-color-hover: #7855F6;
}