:root {
  --main-color: #7855F6;
  --main-bg-color: #FBFAFF;
  --main-bg-color-block: #FFFFFF;
  --main-border-color: #DCDBE1;
  --main-border-radius: 5px;

  --icon: #171717;
  --icon-hover: #FFFFFF;

  --text-color: #171717;

  --btn-text-color: #7855F6;
  --btn-text-color-hover: #FFFFFF;
  --btn-bg-color-hover: #7855F6;

  --block-bg-color-hover: #7855F6;
}