.base-button{
  padding: 11px 16px;
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  font-family: 'Manrope';
  font-size: 13px;

  &:hover{
    cursor: pointer;
    color: #7855F6;
    background-color: var(--main-color-second);
    transition: all .2s ease-in-out;
  }
}