.base-button{
  padding: 11px 16px;
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  font-family: 'Manrope';
  font-size: 13px;

  &:hover{
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(-color-primary-hover);
    transition: all .2s ease-in-out;
  }
}