.cart-info{
    display: flex;
    flex-direction: column;
    align-self: self-start;

    width: 100%;
    max-width: 275px;

    background-color: var(--main-bg-color-block);
    border: 1px solid var(--main-border-color);

    &__header{
        padding: 20px;
        border-bottom:1px solid var(--main-border-color);
    }

    &__title{
        font-size: 14px;
        font-weight: 500;
    }

    &__body{
        margin: 0 auto;
    }
}