.profile {
  padding: 20px;
  background: var(--color-bg-surface);
  border-radius: var(--radius-md);

  &-info {
    display: flex;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__name {
        font-size: 16px;
      }

      &__data {
        font-size: 14px;
      }
    }
  }
}