.nav-item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--text-primary);
  border: 1px solid var(--border-default);
  border-radius: var(--border-radius-small);
  transition: all .2s ease-in-out;

  &:hover{
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-default);
    transition: all .2s ease-in-out;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 13px;
  }
}

.nav-item__active {
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: var(--text-primary);
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-default);
  border-radius: var(--border-radius-small);
  transition: all .2s ease-in-out;
}