.nav-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: var(--color-text-primary);
  transition: all .2s ease-in-out;

  &:hover{
    color: var(--color-primary-hover);
    transition: all .2s ease-in-out;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 13px;
  }
}

.nav-item__active {
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: var(--color-primary);
  transition: all .2s ease-in-out;
}