@use "variables";
@use 'not-fount';
@use "reset";

:root {
  /* background */
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-50);
  --bg-tertiary: var(--color-gray-900);
  --bg-modal: var(--color-gray-opasity);

  /* text */
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-600);
  --text-white: var(--color-accent-100);

  /* border */
  --border-default: var(--color-gray-300);

  /* accent */
  --accent-primary: var(--color-accent-500);
  --accent-muted: var(--color-accent-100);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg-primary: var(--color-dark-900);
    --bg-secondary: var(--color-dark-800);
    --bg-tertiary: var(--color-dark-700);
    --bg-modal: var(--color-dark-opasity);

    --text-primary: var(--color-gray-400);
    --text-secondary: var(--color-gray-600);

    --border-default: var(--color-dark-600);

    --accent-primary: var(--color-accent-500);
    --accent-muted: var(--color-dark-600);
  }
}

[data-theme="dark"] {
  --bg-primary: var(--color-dark-900);
  --bg-secondary: var(--color-dark-800);
  --bg-tertiary: var(--color-dark-700);
  --bg-modal: var(--color-dark-opasity);

  --text-primary: var(--color-gray-400);
  --text-secondary: var(--color-gray-600);

  --border-default: var(--color-dark-600);

  --accent-primary: var(--color-accent-500);
  --accent-muted: var(--color-dark-600);
}

html{
  scrollbar-gutter: stable;
}

body{
  background: var(--bg-primary);
}

html, body {
  min-height: 100%;
}

.layout {
  display: flex;
  width: 100%;
  position: relative;
}

.loader-spinner__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 670px;
  padding: 20px 0;
  min-height: 100vh;
  margin: 0 auto;
}