@use "reset";
@use "variables";
@use 'not-fount';

:root {
 color-scheme: light dark;
}

@media  (prefers-color-scheme: dark) {
  :root {
    /* Primary */
    --color-primary: #8B6DFF;
    --color-primary-hover: #A48BFF;
    --color-primary-light: #3E2C8A;

    /* Text */
    --color-text-primary: #F4F4FA;
    --color-text-secondary: #A1A1B5;

    /* Backgrounds */
    --color-bg-main: #0F0F14;
    --color-bg-surface: #1A1A24;

    /* Border */
    --color-border: #2C2C3A;

    /* Hover */
    --hover-nav: #b2b2b2
  }
}

[data-theme="dark"] {
  /* Primary */
  --color-primary: #8B6DFF;
  --color-primary-hover: #A48BFF;
  --color-primary-light: #3E2C8A;

  /* Text */
  --color-text-primary: #D1D1D1;
  --color-text-secondary: #A1A1B5;

  /* Backgrounds */
  --color-bg-main: #131316;
  --color-bg-surface: #16161A;

  /* Border */
  --color-border: #2C2C3A;

  /* Hover */
  --color-bg-nav: #1B1D22;
}

[data-theme="light"] {
  /* Primary */
  --color-primary: #7855F6;
  --color-primary-hover: #6A46EA;
  --color-primary-light: #E8E1FF;

  /* Text */
  --color-text-primary: #1E1E1E;
  --color-text-secondary: #5C5C6C;

  /* Backgrounds */
  --color-bg-main: #FFFFFF;
  --color-bg-surface: #FAFAFA;

  /* Border */
  --color-border: #E3E3EE;

  /* Hover */
  --color-bg-nav: #F8F8F8;
}

html{
  scrollbar-gutter: stable;
}

body{
  height: 100%;
  background: var(--color-bg-main);
}

.layout {
  display: flex;
  width: 100%;
  position: relative;
}

.loader-spinner__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 670px;
  padding: 30px 0;
  min-height: 100vh;
  margin: 0 auto;
}