@use "reset";
@use "variables";
@use 'themes/theme';
@use 'not-fount';

html{
  scrollbar-gutter: stable;
}

body{
  height: 100%;
  background: var(--color-bg-main);
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}

.container {
  flex: 1;
  max-width: 890px;
  padding: 30px 0;
  min-height: 100vh;
}