@use "reset";
@use "variables";
@use 'themes/theme';

html{
  scrollbar-gutter: stable;
  background-color: var(--main-bg-color);
}

body{
  height: 100%;
  color: var(--text-color);
}

/**
* Контейнер для (main)
*/
.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 80px 0 0 20px;
  margin: 0 auto;
}

svg > path{
  fill: var(--icon);
}