:root {
  --radius-md: 10px;

  --color-bg-modal-wrapper: #0f0f14e7;

  --border-radius-small: 8px;
  --border-radius-medium: 8px;

  --success-color: #22C55E;
  --error-color: #EF4444;
  --warning-color: #EAB308;
}